<header>

    <img src="./img/top-logo.png">
    <ul class="header-menu">
    <li>TRAVELHOLIC</li>
    <li>CONTENTS</li>
    <li>CHANNEL</li>
    <li>COLLABORATION</li>
    <li>GOODS</lI>
    <li>|</li>
    <li>CONTACT US</li>
</ul>
</header>